<ion-content>
  <swiper-container navigation="true" pagination="true" scrollbar="true">
    <swiper-slide>
      <img src="../assets/intro/1.svg" alt="" />
      <h3>Build awesome apps with Ionic UI components!</h3>
    </swiper-slide>
    <swiper-slide>
      <img src="../assets/intro/2.svg" alt="" />
      <h3>Create powerful native apps with Capacitor.</h3>
    </swiper-slide>
    <swiper-slide>
      <img src="../assets/intro/3.svg" alt="" />
      <h3>Enjoy learning to code!</h3>
    </swiper-slide>
  </swiper-container>

</ion-content>
